body {
  background-color: red;
}

.navbar {
  background-color: blue !important;
  height: 100px !important;
}

video {
  width: 50% !important;
}

p,
h1,
span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  color: #6b9417;
}
