body {
  background-color: red;
}

.navbar {
  background-color: blue !important;
  height: 100px !important;
}

.movie-content {
  display: none !important;
}

textarea,
.comment {
  width: 20%;
}

p,
h1,
span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  color: #6b9417;
}

textarea {
  color: yellow;
}
